<div>
<div align="center" style="color:#0000FF;">
  <h2 style="font-size: 3em;">  <fontface="franklin"> ONLINE RESUME</font> </h2>
</div>
<div>

  <div>
  <marquee behavior="alternate" direction="left">
    <h2 style="color:red;"><strong><%= t(:makeyourbestresume, :default => 'Start your career with JOB') %></strong></h2>
  </marquee>
</div>

<div>
<right>
  <img src="http://www.destinationsdreamsanddogs.com/wp-content/uploads/2015/09/typing.jpg" alt="This is a Online Resume Application" height="200" width="200">
</right>
</div>

<%= link_to "Create student Resume", students_path%>  |
<%= link_to "View students Resumes", companies_hrs_path%>
